.app {
  max-width: 1500px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

.pricing-section {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #f8fafc;
  margin: 20px 0;
}

.advance-pricing-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 40px 0;
}
